/*------------------------------------------------------------------------------
     General Styles
------------------------------------------------------------------------------*/

body {
  font-family: sans-serif;
  background-color: white;
  font-size: 12px;
  width: 980px;
  margin-right: auto;
  margin-left: auto;     
}

h1 { 
  font-size:2.2em; 
}

h2 { 
  font-size:1.4em; 
}

article {
  background: #F8F8F8;

}

div {
  font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', Monaco, monospace;
  overflow: auto;

}

div, form, input {
  margin: 5px;
}

/* end */


/*------------------------------------------------------------------------------
     Grid Layout Styles
------------------------------------------------------------------------------*/

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.grid1 { width:60px; }
.grid2 { width:140px; }
.grid3 { width:220px; }
.grid4 { width:300px; }
.grid5 { width:380px; }
.grid6 { width:460px; }
.grid7 { width:540px; }
.grid8 { width:620px; }
.grid9 { width:700px; }
.grid10 { width:780px; }
.grid11 { width:860px; }
.grid12 { width:940px; }

span {
  padding-left: 0.7em;
  padding-right: 0.7em;
    
}